[submodule "MiniUTL"]
	path = MiniUTL
	url = https://github.com/OpenSteamClient/MiniUTL.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/OpenSteamClient/SDL.git
[submodule "SDL_ttf"]
	path = SDL_ttf
	url = https://github.com/OpenSteamClient/SDL_ttf.git
